.buy-group {
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.buy-layout__left {
    margin-right: 100px;
}

.buy-item__group {
    display: flex;
}

.buy-item__img {
    width: 175px;
    height: 175px;
    margin-right: 55px;
}

.buy-item__info {
    width: 575px;
    height: 175px;
    margin-bottom: 50px;
}

.buy-item__section {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.buy-price__group {
    display: flex;
    align-items: flex-end;
}

.buy-currency {
    font-size: 25px;
}

.buy-price {
    font-size: 30px;
}

.line {
    width: 805px;
    border-bottom: 1px solid #000000;
}

.payment-group {
    margin-bottom: 34px;
}

.buy-option__section {
    font-size: 20px;
    font-weight: bold;
    width: 325px;
    height: 85px;
    line-height: 85px;
    margin: 0 0 0 35px;
}

.buy-payment__selecter {
    position: relative;
    margin-left: 95px;
    width: 265px;
    height: 30px;
}

.buy-payment__selecter select {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #5f5f5f;
    padding-left: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.buy-payment__selecter::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 13px;
    height: 14px;
    background: #5f5f5f;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;
}

.buy-payment__drop {
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
    color: #eaeaea;
    background-color: #636769;
    border: 1px solid #b1b1b1;
}

.buy-payment__drop:hover {
    color: #eaeaea;
    background-color: #5599eb;
    border: none;
    border-radius: 5px;
}

.buy-payment__error {
    font-size: 18px;
    min-height: 30px;
    margin-left: 95px;
    color: #ff0000;
}

.buy-delivery-group {
    display: flex;
    justify-content: space-between;
    width: 805px;
}

.buy-change__delivery {
    width: 115px;
    height: 85px;
}

.buy-change__link {
    border: none;
    color: #0073cc;
    line-height: 85px;
    text-decoration: none;
    font-size: 20px;
    background-color: #ffffff;
    cursor: pointer;
}

.buy-address__group {
    display: flex;
    margin-bottom: 60px;
    margin-left: 95px;
    align-items: center;
}

.buy-radio {
    width: 20px;
    height: 20px;
}

.buy-user__address {
    width: 710px;
    height: 60px;
    padding-left: 20px;
}

.buy-text {
    font-size: 20px;
}

.buy-address__error {
    font-size: 18px;
    min-height: 30px;
    color: #ff0000;
}

.buy-table,
.buy-table th,
.buy-table td {
    border: 1px solid #000000;
}

.buy-table th,
.buy-table td {
    font-weight: normal;
    width: 220px;
    height: 115px;
    text-align: center;
    vertical-align: middle;
}

.buy-table th {
    border-right: none;
}

.buy-table td {
    border-left: none;
}

.buy-button {
    width: 440px;
    height: 60px;
    font-size: 30px;
    color: #ffffff;
    background-color: #ff5555;
    border: none;
    border-radius: 4px;
    margin-top: 65px;
    margin-bottom: 22px;
    cursor: pointer;
}